/* body{
    background-image: url("img/valeria-zoncoll-AVGc87j_vNA-unsplash.jpg");
    
    background-size: cover;
    text-align: center;
    font-family: "BBH Sans Bartle", sans-serif;
    margin-bottom: -1000%;

}

.btn{
    padding: 6px 12px;
    background: white;
    border: none;
    font-family: "Luckiest Guy", cursive;
} */

.card{
    display: flex;
    flex-direction: column;
    align-items: center;

}

body{
    font-family: "Luckiest Guy", cursive;
    text-shadow: 0px 0px 20px black;
    text-align: center;
    background: #ff2dc391;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bff{
    width: 150px;
    border-radius: 50%;
    border: 5px solid #fefefeb0;
}

.age{
    background-color: rgb(104, 1, 35);
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px 0  10px 0;
}

.gift-img{
    margin:0 auto;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    border: 5px solid white;
    background-image: url("img/stock-photo-white-ribbon-bow-red-gift-wrap-paper-background-copy-space-ve.webp");
    background-size: cover;
}

#gift-img-smile:hover{
    background-image: url("img/rudo-funny-face.gif");
}

#gift-img-hot:hover{
    background-image: url("img/Sexy\ Spider-Man\ GIF.gif");
    background-size: cover;
}
.gift-title{
    margin-bottom: 10px;
}

.gift-hint{
    margin-top: 0;
}
.gift-section{
    margin-top: 40px;
}

footer .link{
    text-decoration: none;
    color: black;
}